body {  
    margin: 0;
    padding:0;
    width:100%;
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(248, 248, 228)
} 

h1,h3,.bold { font-weight: 800; }

.btn-rounded {
    border-radius: 35px;
    background-color: #937B63;
    color:rgb(248, 248, 220)
}

.b-border {
    border-bottom: #937B63 solid 0.25px;
}

.project-card {
    background-color:rgb(248, 248, 228)
}

.project-card:hover {
    opacity: 0.8;
}

.project-card > a {
    border-color: rgb(248, 248, 228);
    color:rgb(248, 248, 228) ;
} 

.contact-details > a {
    text-decoration: none;
    color:#212529;
}

#header {
    background-color: #937B63;
}

 
 